
.ctxMenu, .ctxMenu-sub {
    max-width: 250px;
    min-width: 110px;
    background: white;
    border-radius: .35rem;
    padding: 5px 0;
    white-space: nowrap;
    position: fixed;
    z-index: 2147483647;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15) !important;
    border: 1px solid #e3e6f0;
    overflow: visible;
}

.ctxMenu-item {
    position: relative;
}

.ctxMenu-item > a {
    font-size: 14px;
    color: #666;
    padding: 0 26px 0 35px;
    cursor: pointer;
    display: block;
    line-height: 36px;
    text-decoration: none;
    position: relative;
}

.ctxMenu-item > a:hover {
    background: #f2f2f2;
    color: #666;
}

.ctxMenu-item > a > .icon-more {
    position: absolute;
    right: 5px;
    top: 0;
    font-size: 12px;
    color: #666;
}

.ctxMenu-item > a > .ctx-icon {
    position: absolute;
    left: 12px;
    top: 0;
    font-size: 15px;
    color: #666;
}

.ctxMenu hr {
    background-color: #e6e6e6;
    clear: both;
    margin: 5px 0;
    border: 0;
    height: 1px;
}

.ctx-ic-lg {
    font-size: 18px !important;
    left: 11px !important;
}